<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
  <add key="BaseDirectoryName" value="C:\Users\ASUS\OneDrive\Desktop" />
  <add key="BaseFolderName" value="Codemax" />
  <add key="JsonExampleFolderName" value="Examples" />
  <add key="JsonSchemasFolderName" value="Schemas" />
 </appSettings>
</configuration>
