<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
  <add key="BaseDirectory" value="C:\Users\ASUS\OneDrive\Desktop" />
  <add key="BaseFolderName" value="Codemax" />
  <add key="ClassesFolderName" value="Classes" />
  <add key="JsonsFolderName" value="Jsons" />
  <add key="SchemasFolderName" value="Schemas" />
 </appSettings>
</configuration>
